
.login{
  width: 300px;
  height: 260px;
  background-color: rgba(0, 0, 0, 0.5);
  margin:0 auto;
  margin-top: 40px;
  padding-top: 10px;
  padding-left:50px;
  border-radius: 15px;
  color: red;
  font-weight: bolder;
  box-shadow: inset -4px -4px rgba(0,0,0,0.5);
  font-size: 18px;
  background-Image:url("coverpic.jpg");
  background-size: cover;
}
.login input[type="text"]{
  width: 200px;
  height:35px ;
  padding-left: 5px;
  border:0;
  border-radius: 5px;
}
.login input[type="password"]{
  width: 200px;
  height:35px ;
  padding-left: 5px;
  border:0;
  border-radius: 5px;
}
.login input[type="submit"]{
  width: 100px;
  height:35px ;
  border:0;
  border-radius: 5px;
  background-color: skyblue;
  font-weight: bolder;
}
.parent{
  background-color: skyblue;
  height: 80px;
  
}
.heroname{
  background-color: skyblue;
  height: 20px;
  width: 60px;
  
  
}
.idclass{
  background-color: purple;
  height: 20px;
  width: 80px;
  
}
.child{
  font-size: 30px;
  text-align: center;
  padding-top: 25px;
}
.parentTopHeroes,.tourofheroParent,.heroParent,.topheroparent,.topheroesParent{
  background-color: skyblue;
  height: 80px;
  
}
.childTopHeroes,.myheroChild,.tourofheroapiChild,.topherochild,.topheroesChild{
  font-size: 30px;
  text-align: center;
  padding-top: 25px;
}
.firstname{
  font-size: 30px;
}
.apiParent{
  background-color: skyblue;
  height: 80px;
}
.apiChild{
  font-size: 30px;
  text-align: center;
  padding-top: 25px;
}
.firstname{
  background-color: skyblue;
  height: 80px;
  
}

.box
{
  background-color: black;
  width: auto;
  height: auto;
  text-align: center;
  padding: 25px;
  float: left;
  margin: 20px;
}


